

* {
    margin: 0px;
    padding: 0px;
}

.parent {
    width: 100%;
    height: 100vh;
    background-color: rgb(53, 53, 53);
    display: grid;
    grid-template-columns: 27% 73%;
}

.parent-left {
    background-color: red;
}

.parent-right {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-bg {
    width: 100%;
}